*{
    margin: 0px;
}

body{
    background-color: rgba(32,33,36,1);
}

#top{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;

}

#top span{
    color: white;
    padding: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;

}

.gb i{
    align-items: center;
    color: white;
}

.gb_h{
    color: white;
    width: 24px;
}

#icon{
    align-items: center;
    justify-content: center;
    margin: 6px;
    border-radius: 20px;
    margin-right: 8px;
;}

#icon1{
    align-items: center;
    justify-content: center;
    margin: 6px;
    object-fit: contain;
    margin-top: 7px;

;}

#googleicon{
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconcon{
    margin-top: 120px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchid{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#googles{
    background-color: transparent;
    border: 1px solid #414446 ;
    align-items: center;
    width: 500px;
    border-radius: 20px;
    padding: 15px;
}

#but1{
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#but2{
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#buttons{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lang{
    display: flex;
    justify-content: center;

}

#langcolor{
    font-size: 12px;
    color: #99c3ff;
    word-spacing: 6px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#google1{
    color: #bfbfbf;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

footer{
    margin-top: 230px;
    display: flex-end;
    justify-content: end;
    background-color: #171717;
}

#f1{
    display: flex-end;
    margin: 0px;
    background-color: #171717;
    border-bottom: 1px solid #313335;
    padding : 10px;
}

#foot1{
    font-size: 15px;
    margin-left: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#f2{
    display: flex;
    justify-content: center;
    padding: 15px;
}

#foot2{
    font-size: 15px;
    margin-left: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

#bot{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
